.html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  position: relative;
}

.targeting-box {
  position: absolute;
  top: 755px;
  left: 591px;
  display: inline-block;
  border: 1px solid red;
  width: 35px;
  height: 35px;
}